<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<title>手机网站</title>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=yes"/>
	<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
	<link href="__PUBLIC__/Home/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="__PUBLIC__/Home/css/js-image-slider.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-3.1.1.min.js"></script>
	<script src="__PUBLIC__/Home/js/js-image-slider.js" type="text/javascript"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/main.js"></script>               
</head>
<body>
	<div class="phoneType-big">
		<div class="phoneType-head"><a href="__APP__/Index/index">首页</a>选择机型</div>
	
		<div class="phoneType-seek">
			<input type="text" name="" placeholder="输入要维修的手机型号">
		</div>
		<section class="m-brand">
				<ul class="clearfix">
					<li><a href="" class="brand-select">苹果</a></li>
					<li><a href="">三星</a></li>
					<li><a href="">小米</a></li>
					<li><a href="">华为</a></li>
					<li><a href="">魅族</a></li>
					<li><a href="">vivo</a></li>
					<li><a href="">oppo</a></li>
				</ul>
		</section>
		<section class="m-model phoneType-model">
				<h2>iphone</h2>
				<ul class="clearfix">
					<li><a href="fault.html">iPhone 7 Plus</a></li>
					<li><a href="fault.html">iPhone 7</a></li>
					<li><a href="fault.html">iPhone SE</a></li>
					<li><a href="">iPhone 6s Plus</a></li>
					<li><a href="">iPhone 6s</a></li>
					<li><a href="">iPhone 6 Plus</a></li>
					<li><a href="">iPhone 6</a></li>
					<li><a href="">iPhone 5s</a></li>
				</ul>
				<h2>ipad</h2>
				<ul class="clearfix">
					<li><a href="">iPhone 7 Plus</a></li>
					<li><a href="">iPhone 7</a></li>
					<li><a href="">iPhone SE</a></li>
					<li><a href="">iPhone 6s Plus</a></li>
					<li><a href="">iPhone 6s</a></li>
					<li><a href="">iPhone 6 Plus</a></li>
					<li><a href="">iPhone 6</a></li>
					<li><a href="">iPhone 5s</a></li>
				</ul>
		</section>
	</div>
</body>
</html>