<!DOCTYPE html>
<html>
<head>
	<title>提交成功</title>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=yes"/>
	<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
	<link href="__PUBLIC__/Home/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="__PUBLIC__/Home/css/js-image-slider.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-3.1.1.min.js"></script>
	<script src="__PUBLIC__/Home/js/js-image-slider.js" type="text/javascript"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/main.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/succeed.js"></script> 
</head>
<body id="succeed-big">
	<div class="succeed-big">
		<div class="succeed-img">
			<img src="__PUBLIC__/Home/images/succeed.png">
		</div>
		<p class="succeed-title">订单提交成功！</p>
		<p>安静地泡上一杯咖啡等待吧,</p>
		<p>修立达的维修工程师马上就会联系你。</p>
		<div class="succeed-footer">
			<p>本页面将在 <b></b> 秒后自动关闭，自动跳转回首页</p>
			<p>可以点击 <a href="__APP__/Orderinfo/index">查询订单>></a>了解当前状态</p>
		</div>
	</div>	
</body>
</html>